<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
	  .ok { color: green; }
	  .problem { color: red; }
	  .okborder { border: solid green thin; }
	  .problemborder { border: solid red thin; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
		
         <div class="form-group {{divclass}}">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
			 ng-model="lunchString"><!--Empty items are not counted.-->
         </div>
         <div class="form-group">
             <button class="btn btn-default"
			  ng-click="checkLunch()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <span class="{{spanclass}}">{{message}}</span>
         </div>
   </div>
    <script src="script/angular.min.js"></script>
    <script src="script/app.js"></script>
</body>
</html>
